.Match1Description{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Match1Description .Match1DescriptionRow2{
    margin-top: 100px;
}
.Match1Description .Description h5{
    color: rgba(173, 173, 173, 0.781);
}