.Match2Description{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Match2Description .Match2DescriptionRow2{
    margin-top: 100px;
}
.Match2Description .Description h5{
    color: rgba(173, 173, 173, 0.781);
}