.ViewRecordsModal .ViewRecordsModalCloseButton a{
    color: black;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}
.ViewRecordsModal .ViewRecordsModalCloseButton a:hover{
    color: red;
}
.ViewRecordsModal .ViewRecordsModalListItems a{
    text-decoration: none;
}
.ViewRecordsModal .ViewRecordsModalListItems a:hover{
    color: gray;
}
.ViewRecordsModal .ViewRecordsModalListItems{
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}
