.ViewStudentTeacherProfileModal .ViewStudentTeacherProfilecloseButton a{
    color: black;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}
.ViewStudentTeacherProfileModal .ViewStudentTeacherProfilecloseButton a:hover{
    color: red;
}
.ViewStudentTeacherProfileModal .ViewStudentTeacherProfileModalListItems a{
    text-decoration: none;
}
.ViewStudentTeacherProfileModal .ViewStudentTeacherProfileModalListItems a:hover{
    color: gray;
}
.ViewStudentTeacherProfileModal .ViewStudentTeacherProfileModalListItems{
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}
